## Pouria Moradpour 4024023040


# Exercise 2

In [4]:
import pandas as pd


# index column is not added here as it is much more conveniently handled by pandas itself
# file_index column contains the associated number to each file
df_src = {
    "file_index": [],
    "text":[],
    "category_name":[],
    "category_index":[]
}

df = pd.DataFrame(df_src)

In [2]:

from FileReader import fill_dataframe

fill_dataframe(df)

df

   file_index          text category_name  category_index
0       1.txt  salap\nd\nfd           Art               1
1      10.txt                         Art               1
2       2.txt                         Art               1
3       3.txt                         Art               1
4       4.txt                         Art               1
5       5.txt                         Art               1
6       6.txt                         Art               1
7       7.txt                         Art               1
8       8.txt                         Art               1
9       9.txt                         Art               1
10      1.txt                    Politics               2
11     10.txt                    Politics               2
12      2.txt                    Politics               2
13      3.txt                    Politics               2
14      4.txt                    Politics               2
15      5.txt                    Politics               2
16      6.txt                    Politics               2
17      7.txt                    Politics               2
18      8.txt                    Politics               2
19      9.txt                    Politics               2
20      1.txt                     Science               3
21     10.txt                     Science               3
22      2.txt                     Science               3
23      3.txt                     Science               3
24      4.txt                     Science               3
25      5.txt                     Science               3
26      6.txt                     Science               3
27      7.txt                     Science               3
28      8.txt                     Science               3
29      9.txt                     Science               3
30      1.txt                       Sport               4
31     10.txt                       Sport               4
32      2.txt                       Sport               4
33      3.txt                       Sport               4
34      4.txt                       Sport               4
35      5.txt                       Sport               4
36      6.txt                       Sport               4
37      7.txt                       Sport               4
38      8.txt                       Sport               4
39      9.txt                       Sport               4

# Exercise 3

In [2]:
class MyDataFrame:
    def __init__(self, data, columns):
        self.df =pd.DataFrame(data, columns=columns)
        
    def add_row(self, row_dic):
        self.df.loc[len(self.df.index)] = row_dic
        
    def remove_row(self, row_dic):
        self.df.drop(row_dic, axis = 0, inplace=True)
        
    def filter_by_column(self, column_name, value):
        return self.df[self.df[column_name] == value]
    
    def to_dict(self):
        return self.df.to_dict(orient='records')
    
    def save_csv(self, file_path):
        self.df.to_csv(file_path, index=False)
        
# this method is also possible (instead of inputting dictionaries) when we are also inputting columns separately
df = MyDataFrame([[1,2,3], [4,5,6], [7,8,9], ['a','b','c']],["first", "second", "third"])

# Exercise 4

In [2]:
class MyDataFrame:
    def __init__(self, data):
        
        if type(data) == str:
            self.from_csv(file_path=data)
        elif type(data) == dict:
            self.from_dict(data)
        
    def add_row(self, row_dic):
        self.df.loc[len(self.df.index)] = row_dic
        
    def remove_row(self, row_dic):
        self.df.drop(row_dic, axis = 0, inplace=True)
        
    def filter_by_column(self, column_name, value):
        return self.df[self.df[column_name] == value]
    
    def to_dict(self):
        return self.df.to_dict(orient='records')
    
    def save_csv(self, file_path):
        self.df.to_csv(file_path, index=False)
        
    def from_dict(self, dic):
        self.df = pd.DataFrame(dic)
        
    def from_csv(self, file_path):
        self.df = pd.read_csv(file_path)